.logo {
    font-family: "Baloo Thambi 2", cursive;
}

.nav-link{
    border-bottom: 2px solid transparent;
}

.nav-link:hover {   
    border-bottom: 2px solid $primary;
    
    @media (max-width: 576px) {
        background: $primary;
        color: #ffffff;
    }
}
