<nav class="navbar navbar-expand-sm fixed-top ">
  <div
    class="container d-flex align-items-center justify-content-center justify-content-sm-between">
    <h2><a class="logo text-secondary" href="index.html">PETPET</a></h2>
    <div class="navbar-toggler " data-toggle="collapse" data-target="#collapsibleNavbar">

      <span></span>
      <span></span>
      <span></span>

    </div>
    <div class="collapse navbar-collapse flex-grow-0" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link mr-0 mr-sm-8" href="stay.html">預約服務</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link mr-0 mr-sm-8" href="">成為寵物保姆</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link " href="login.html">
            登入
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>